.cart{
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-left: 800px;
    padding-top: 200px;
    margin-top: 30px;
    background-image: url('https://images.pexels.com/photos/5632398/pexels-photo-5632398.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); /* Replace with the actual path to your image */
    background-size:cover; /* Adjust background image size */
    background-repeat: no-repeat; /* Prevent background image from repeating */
    background-position: center; /* Center the background image */
    min-height: 95vh; /* Set a minimum height to fill the viewport */
    min-width: 205vh;
    margin-left: -20px;
    color: rgb(0, 0, 0); /* Text color for content on top of the background image */
        
        /* Add any other styling as needed */
}

.cart h2 {
    padding-right: 280px;
    text-align: center;
    color: #333;
  }
  .cart h3 {
    padding-right: 280px;
    text-align: center;
    color: #333;
  }
  
  .cart h4{
    padding-right: 400px;
    text-align: center;
    color: #333;
  }

  .cart-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .item-name {
    font-weight: bold;
  }
  
  .item-price {
    padding-right: 300px;
    color: #777;
  }

  .item-remove{
    
  }

  